/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Varela&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Varela&display=swap");

:root {
  --primary-color: #37a1b9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lora", serif !important;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 65px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: black;
  text-decoration: none;
  /* color: white;
  font-size: 1.05rem; */
}

.navbar .flex {
  justify-content: space-between;
}

.a-blue {
  color: var(--primary-color);
}

.a-blue:hover {
  color: black;
}

/* Home */
.home {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.home h2 {
  font-size: 27px;
}

.home p {
  margin: 20px 0;
}

.home .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.home-image {
  position: relative;
  top: 0;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.home::before,
.home::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Section Headings */
.heading-blue {
  font-size: 35px;
  /* color: var(--primary-color); */
  color: black;
}

.heading-white {
  font-size: 35px;
  color: #fff;
}

.text-orange {
  color: #f79314;
  outline-color: black;
}

/* Section Paragraphs */
.p-black {
  font-size: 19px;
  color: #333;
}

.p-white {
  font-size: 19px;
  color: #fff;
}

/* Education */
#education {
  padding-top: 100px;
}

.class-list {
  text-align: center;
  font-size: 19px;
}

.white-section {
  padding-top: 100px;
  height: 400px;
  position: relative;
}

.blue-section {
  padding-top: 100px;
  /* height: 400px; */
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.class-list {
  list-style-type: none;
}
/* 
.experience {
  margin-top: 100px;
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}


.projects {
  margin-top: 100px;
  height: 400px;
  position: relative;
}


.skills {
  padding-top: 100px;
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}


.contact {
  padding-top: 100px;
  height: 400px;
  position: relative;
} */
