/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Varela&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Varela&display=swap");

:root {
  --primary-color: #37a1b9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lora", serif !important;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 65px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
  color: black;
  text-decoration: none;
  /* color: white;
  font-size: 1.05rem; */
}

.navbar .flex {
  justify-content: space-between;
}

.a-blue {
  color: var(--primary-color);
}

.a-blue:hover {
  color: black;
}

/* Home */
.home {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.home h2 {
  font-size: 27px;
}

.home p {
  margin: 20px 0;
}

.home .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.home-image {
  position: relative;
  top: 0;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
}

.home::before,
.home::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Section Headings */
.heading-blue {
  font-size: 35px;
  /* color: var(--primary-color); */
  color: black;
}

.heading-white {
  font-size: 35px;
  color: #fff;
}

.text-orange {
  color: #f79314;
  outline-color: black;
}

/* Section Paragraphs */
.p-black {
  font-size: 19px;
  color: #333;
}

.p-white {
  font-size: 19px;
  color: #fff;
}

.class-list {
  text-align: center;
  font-size: 19px;
}

.white-section {
  position: relative;
}

.blue-section {
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.section-padding {
  padding-top: 65px;
  padding-bottom: 65px;
}

.class-list {
  list-style-type: none;
}

.bot-p {
  padding-bottom: 30px;
}

/* Projects */
/* .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.box:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */

.experience-details {
  padding-left: 5%;
}

.project {
  position: relative;
}

.project-image {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.25s;
}

.project-overlay {
  opacity: 0;
}

.project-overlay:hover {
  opacity: 1;
}

.project-title {
  font-weight: bold;
  text-decoration-line: underline;
  font-size: x-large;
  width: 80%;
}

.project-description {
  font-size: large;
  width: 90%;
}

.image-citation {
  font-size: x-small;
  font-style: italic;
  position: absolute;
  bottom: 0px;
}

.skill-list {
  list-style-type: none;
}

.skill-item {
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* 
.experience {
  margin-top: 100px;
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}


.projects {
  margin-top: 100px;
  height: 400px;
  position: relative;
}


.skills {
  padding-top: 100px;
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}


.contact {
  padding-top: 100px;
  height: 400px;
  position: relative;
} */

.contact-btn {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-purple {
  color: purple;
}

/* #btn-github {
  color: purple;
  box-shadow: purple;
  outline-color: purple !important;
} */
